.feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature h4{
  color: #616668;
  font-weight: bold;
  text-align: center;
}
.feature p {
  display: none;
  color: #616668;
  text-align: justify;
  font-size: 18px;
  font-weight: 300;
}
.icon{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.icon img {
  width: 120px;
}

