.wrapper {
  color: white;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}
.wrapper-hooks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.wrapper p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.find_search{
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  .panel-transparent{
  background: none;
  }
  .panel-transparent .panel-heading{
  background: rgba(46, 51, 56, 0.3)!important;
  }
  .panel-transparent .panel-body{
  background: rgba(46, 51, 56, 0.3)!important;
  }
}
.home-banner{
  color: #616668;
  font-size: 21px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}
