<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Modifier mon profil</h1>
      <%= render "form" %>

      <p>&nbsp</p>

      <p>
        <%= link_to "Supprimer mon profil", cook_path(@cook), method: :delete, data: {confirm: 'Êtes-vous sûr de vouloir supprimer votre profil ?'}, class: "btn btn-danger" %>
      </p>
    </div>
  </div>
</div>
