<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Partagez votre cuisine maison et gagnez de l'argent</h2>
      <%= render "form" %>
    </div>
  </div>
</div>
