<div class="text-center">
  <h3>
    <%= link_to "Retour à votre panier", cart_path, class: 'btn btn-popote-bis' %><br>
    <hr />
    Valider votre panier
  </h3>

  <% @order_items.each do |order_item| %>
    <%= render 'order_items', order_item: order_item, dish: order_item.dish, show_total: true %>
  <% end %>

  <div class="total-cart">
    <%= render 'total', cart: @cart %>
  </div>
</div>
