<div class="container padded text-justify">
  <p>
    <strong>Rab It</strong> est une application permetttant de commander du rab d'une cuisine faite maison, concoctée par des particuliers (voisins, collègues de travail...) et de géolocaliser où les récupérer : à proximité de chez soi, en vacances, en chemin ou sur son propre lieu de travail...
  </p>
  <p>
    <strong>Rab It</strong> est une plateforme de l'Économie dite collaborative dont l'objet est le PARTAGE de plats préparés par des particuliers afin que d'autres particuliers puissent les déguster.<br>
  </p>
  <p>
    Beaucoup aimeraient pouvoir commander une cuisine variée, authentique, de qualité, élaborée par de vrais gens. <br>
    Aussi, comment ne pas être lassé par la hausse insensée des prix, ne pas se résigner à devoir se faire matraquer en commandant toujours la même tambouille hors de prix pour des portions minis ?<br>
  </p>
  <p>
    Imagine au contraire des petits plats concoctés avec générosité, du vrai fait maison !
  </p>
  <p>
    Par ailleurs, nombreux sont ceux qui cuisinent toujours en quantité, souvent trop, heureux et infatiguables cordons bleus.<br>
    <strong>Rab It </strong> se propose de réunir tout ce petit monde.
  </p>
  <p>
    <strong>Avec Rab It, les premiers rétribuent les seconds pour leurs talents et leurs efforts.</strong>
  </p>
  <p>
    <strong>Avec Rab It, les  seconds sustentent les premiers dans la bonne humeur, pour un fier partage de leur culture gastronomique, et monétisent leur savoir-faire culinaire.</strong>
  </p>
  <p>
    Marre d'avaler toujours la même chose, de la saloperie industrielle ?<br>
    Gavé des concepts les plus chers au monde en bas au coin de la rue ?<br>
    Envie tout simplement de varier les plaisirs ?<br>
    Découvre enfin la gastronomie des familles à petit prix, directement des cuisines à ton assiette, <strong>Rab It</strong> !<br>
  </p>
  <p>
    Sorcier des fourneaux ? Quand il y en a pour quatre, il y en a pour dix ?<br>
    T'es prêt à partager ? T'emmènes ta gamelle au boulot ?<br>
    Fais des heureux, fais découvrir tes talents culinaires, partage tes origines gastronomiques, <strong>Rab It</strong> !<br>
  </p>
  <p>
    Si t'en gardes de trop, tu jetteras, c'est certain !<br>
    Régale plutôt les fines bouches, les affamés de bureaux, les réduits aux aliments en plastique.<br>
    Fais la popote et propose ton rab à des voisins, à des collègues de bureau, à des particuliers, et gagne un peu d'oseille !<br>
    Evite surtout le GACHIS, récompense tes efforts culinaires, ta bonne cuisine, et fais du beurre à l'occase, <strong>Rab It</strong> !<br>
  </p>
  <p>
    Parce que tes voisins sont d'origine basque, italienne, marcocaine, normande, portugaise ou congolaise... Rosbeef purée, tajine, tartes aux pommes du jardin, au goût authentique de pomme - les plus courageux iront jusqu'au tripes à la mode de Caen - , jambons de pays, morue à toutes les sauces ou poulet bananes plantain...<br>
  </p>
  <p>
    <strong>Rab It</strong>, c'est pouvoir s'offrir un peu de cuisine maison, d'ici et d'ailleurs, à prix abordables, en toute simplicité.
  </p>
  <p>
    Nouveau ! <br>
    Avec <strong>Rab It</strong>, tu peux maintenant commander des produits artisanaux régionaux, que des partculiers se proposent de revendre. <br>
    Offrez-vous des produits typiques de tous les terroirs !
  </p>
</div>
