<div class="container padded text-left">

  <p>
    <strong>Popotes & Moi</strong> est le premier site web offrant aux internautes de commander pour leur pause-déjeuner des portions de plats concoctés à l'avance par des collègues de travail ou d'autres particuliers et de géolocaliser où les récupérer : en chemin, à proximité ou sur leur propre lieu de travail.
  </p>

  <p>&nbsp;</p>

  <p>
    Marre de la saloperie industrielle et d'avaler toujours la même chose au boulot ?<br>
    Gavé du fouttage de gueule le plus cher au monde en bas au coin de la rue ?<br>
    Envie tout simplement de varier les plaisirs ?<br>
    Découvrez enfin la gastronomie du monde et des familles à petit prix, directement des cuisines à votre assiette !<br>
  </p>

  <p>
    Vous emmenez votre gamelle au boulot ?<br>
    Vous êtes un sorcier des fourneaux ? Quand il y en a pour deux, il y en a pour dix ?<br>
    Faites des heureux, faites découvrir vos talents, vos origines gastronomiques, partagez. Si vous en gardez de trop, vous jetterez, c'est certain !<br>
    Régalez plutôt les affamés de bureaux, réduits aux aliments en plastique.<br>
    Faites la popote pour des collègues de bureau ou des voisins de boîte et gagnez un peu d'oseille !<br>
    Avec <strong>Popotes & Moi</strong>, partagez, évitez les gachis, récompensez vos efforts culinaires, votre cuisine après le boulot et faites du beurre à l'occase... 

  </p>

  <p>&nbsp;</p>

  <p>
    <strong>Popotes & Moi</strong>, c'est pouvoir s'offrir un peu de cuisine maison, d'ici et d'ailleurs, à prix abordables, en toute simplicité.<br>
    Car nos collègues à tous sont basques, tunisiens, normands, portugais ou congolais... Tajine, pommes du jardin au goût authentique de pomme - les plus courageux iront jusqu'au tripes à la mode de Caen -, jambon de pays, morue à toutes les sauces ou poulet bananes plantain...<br>
    Parce que vous parlez souvent petits plats lors de vos pauses dèj'.<br>
    Observez vraiment ce que vos collègues ont dans leurs assiettes. Si ça vous chante, proposez-leur de vous garder une part lorsqu'ils font la popote, et commandez-la sur <strong>Popotes & Moi</strong>.<br>
  </p>

  <p>&nbsp;</p>

  <p>
    <strong>Popotes & Moi</strong> est le premier site web de l'Économie dite collaborative, "on-demand", dont l'objet est le PARTAGE de plats préparés-maison par des particuliers afin que d'autres particuliers puissent les déguster, lors de leur pause-déjeuner au travail ou plus tard chez eux.<br>
    Par la même occasion, <strong>Popotes & Moi</strong> fait office d'une autre place de marché, répondant à une offre croissante de chefs cuisiniers indépendants, qui souhaitent proposer des plats à prix attractifs et qui peuvent livrer.<br>
  </p>

  <p>&nbsp;</p>

  <p>
    Beaucoup de salariés de PME, même de filiales de groupes, d'artisans, de travailleurs indépendants et libéraux, ne bénéficient pas de restaurants d’entreprise. Tous les jours, ils doivent ainsi chercher de quoi manger pour leur pause-déjeuner ou emporter leurs popotes sur leurs lieux de travail. <strong>Popotes & Moi</strong> a été pensé pour eux.<br>
    De plus, un attrait notoire pour une cuisine variée, authentique, de qualité - et pas uniquement diététique comme on veut bien le croire -, mais également la hausse insensée des prix des plats à emporter, engendrent un regain de la population active pour la nourriture apportée au travail pour la pause déjeuner.<br>

    <p>&nbsp;</p>

    D'une part, les particuliers sont nombreux à emporter sur leurs lieux de travail ce qu'ils ont cuisiné à la maison la veille, le matin ou le soir avant de partir.<br>
    Même ceux pourvus de "tickets-restau" sont désormais tentés de les garder précieusement à d'autres fins, familiales par exemple, pour faire les courses car les enseignes sont nombreuses à les accepter, ou même pour payer une sortie pour les budgets les plus serrés.<br>
    Beaucoup préfèrent donc cuisiner, faire la popote, en plus grande quantité et mettre de côté afin d'en emporter une part au travail.<br>

    <p>&nbsp;</p>

    D’autre part, des travailleurs non moins nombreux se résignent à ingérer chaque jour de la cuisine industrielle achetée en supérettes au prix fort ou à se faire matraquer à la caisse des snacks, "restaurants" à emporter ou autres concepts nouvelle cuisine hors de prix, pour des portions minis.<br>
  </p>

  <p>
    <strong>Popotes & Moi offre aux premiers de sustenter les seconds dans la bonne humeur, pour un fier partage de leur culture gastronomique, de leur savoir-faire culinaire.</strong><br>
    <strong>Avec Popotes & Moi, les seconds rétribuent les premiers pour leurs talents de cordons-bleus et leurs efforts culinaires.</strong>
  </p>

</div>
