<div class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url "ustenciles.jpg" %>');">
  <div class="container">

    <h1><em>Rab It</em></h1>

    <div class="wrapper-hooks">
      <div class="hook-client">
        <h3>
          De la cuisine faite maison<br>
          Par un particulier
        </h3>
      </div>
      <div class="hook-client-2">
        <h3>
          Autour de toi<br>
          Au travail, à la maison, en vacances...
        </h3>
      </div>
    </div>

    <div class="container search">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="find_search">
            <div class="panel panel-transparent">
              <div class="panel-body">
                <%= form_tag cooks_path, method: :get, class:"row" do %>
                  <div class="col-sm-10">
                    <%= text_field_tag :location, params[:location], id:"user_input_autocomplete_address", class: "form-control", placeholder: "Où ça ?"%>
                  </div>
                  <div class="col-sm-2">
                    <%= submit_tag "Trouve !", class: "btn btn-popote" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-hooks">
      <div class="hook-cook-1">
        <h3>
          Tu cuisines toujours trop ?<br>
          Partage tes plats
        </h3>
      </div>
      <div class="hook-cook-2">
        <h3>
          Évite le gâchis<br>
          Dans nos récipients éco-responsables
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p class="home-banner">
    T'en fais toujours pour un régiment ? Fais en profiter autour de toi.<br>
    Gagne un peu d'oseille. Mets du beurre dans les épinards.<br>
    On connecte juste la communauté et on fournit des récipients biodégradables.
  </p>

   <p>&nbsp;</p>

  <p class="home-banner">
    Gâchis, minis portions & prix forts, malbouffe, enseignes innombrables, concepts insensés, paude dej' express...<br>
    <em>
      "Nous avons pensé à ceux qui cuisinent... et aux autres"<br>
    </em>
  </p>
</div>

<!-- Custom JS code to bind to Autocomplete API -->
<% content_for(:after_js) do %>

  <script type="text/javascript">
    function initializeAutocomplete(id) {
      var element = document.getElementById(id);
      var options = { types: ['geocode'],
          componentRestrictions: {country: 'fr'}
      };
      if (element) {
        var autocomplete = new google.maps.places.Autocomplete(element, options);
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
      }
    }
    function onPlaceChanged() {
      var place = this.getPlace();
      // console.log(place);  // Uncomment this line to view the full object returned by Google API.
      for (var i in place.address_components) {
        var component = place.address_components[i];
         for (var j in component.types) {  // Some types are ["country", "political"]
          var type_element = document.getElementById(component.types[j]);
          if (type_element) {
            type_element.value = component.long_name;
          }
        }
      }
    }
    google.maps.event.addDomListener(window, 'load', function() {
      initializeAutocomplete('user_input_autocomplete_address');
    });
  </script>

<% end %>


