<div class="container padded text-left">

  <p>
    Chez <strong>Popotes & Moi</strong>, nous considérons que les chefs cuisinent avant tout pour leurs familles et/ou pour eux-mêmes. Le bon sens nous ferait dire qu’Ils respectent donc les règles élémentaires en matière d’hygiène et celles en matière de qualité des produits qu’ils utilisent.<br>
    Toutefois, parce que votre sécurité est primordiale, en publiant chaque annonce de popote, un chef s'engage strictement en matière de qualité et d’hygiène.
  </p>

  <p>
    <strong>Qualité :</strong>
    <ul>
      <li>Cuisiner des plats maison.</li>
      <li>Faire la cuisine avec le même soin que pour sa famille et ses amis.</li>
      <li>Faire des portions adéquates et adapter les prix en conséquence.</li>
      <li>Prendre des photos correctes et représentatives de ses plats.</li>
      <li>Lister les principaux ingrédients dans la description de l’annonce, en précisant les possibles allergènes.</li>
      <li>Ne pas ajouter d’ingrédients de premier plan sans le préciser !</li>
    </ul>
  </p>

  <p>
    <strong>Hygiène :</strong>
    <ul>
      <li>Se laver les mains.</li>
      <li>Séparer les aliments crus des aliments cuits.</li>
      <li>Séparer viande, poisson et volaille crue des autres aliments.</li>
      <li>Ne pas réutiliser le matériel et les ustensiles qui ont été utilisés pour les aliments crus.</li>
      <li>Faire bien cuire les aliments : en particulier, viande, volaille, poisson et oeufs.</li>
      <li>Maintenir les aliments à bonne température.</li>
      <li>Respecter la chaîne du froid.</li>
      <li>Ne pas garder les aliments cuits à température ambiante trop longtemps.</li>
      <li>Maintenir une cuisine propre : plans de travail, ustensiles, réfrigérateur...</li>
      <li>Utiliser des aliments frais et sains.</li>
      <li>Utiliser de l'eau saine.</li>
    </ul>
  </p>

</div>
