<div class="container padded text-left">
  <p>
    Chez <strong>Rab It</strong>, nous considérons que les chefs cuisinent d'abord pour eux-mêmes ainsi que pour leurs proches, puis proposent du rab de leurs plats via l'application. <br>
    Le bon sens nous ferait dire d'emblée qu’ils respectent nécessairement les conditions sanitaires élémentaires et les règles les plus évidentes en matière de qualité des produits.<br>
    Entre-nous, nous misons davantage sur l'hygiène des particuliers, à plus forte raison lorsqu'ils cuisinent d'abord pour leurs propres familles, que sur celle de nombreux lieux ouverts au public.<br>
    Toutefois, on ne plaisante pas avec la sécurité alimentaire, celle-ci reste donc primordiale ainsi qu'une priorité pour nous.<br>
    Ainsi, en créant un profil et à la publication de chaque annonce de plat, <strong>Rab It</strong> demande aux chefs de s'engager strictement en matière de qualité et d’hygiène.<br>
  </p>

  <p>
  <strong>Qualité :</strong>
     <ul>
        <li>Cuisiner des plats maison.</li>
        <li>Faire la cuisine avec le même soin que pour sa famille et ses amis.</li>
        <li>Distribuer ses popotes dans délai maximum de 36h après leur préparation.</li>
        <li>Faire des portions adéquates avec des prix abordables.</li>
        <li>Prendre des photos correctes et représentatives de ses plats.</li>
        <li>Lister les principaux ingrédients dans la description de l’annonce, en précisant les possibles allergènes.</li>
        <li>Ne pas ajouter d’ingrédients de premier plan sans les préciser.</li>
      </ul>
  </p>

  <p>
      <strong>Hygiène :</strong>
      <ul>
        <li>Se laver les mains.</li>
        <li>Séparer les aliments crus des aliments cuits.</li>
        <li>Au frais, séparer viande, poisson et volaille crue des autres aliments.</li>
        <li>Ne pas réutiliser le matériel et les ustensiles qui ont été utilisés pour les aliments crus.</li>
        <li>Faire bien cuire les aliments : en particulier, viande, volaille, poisson et oeufs.</li>
        <li>Conserver les aliments à bonne température.</li>
        <li>Respecter la chaîne du froid et les conditions de conservation des produits.</li>
        <li>Ne pas garder les aliments cuits à température ambiante trop longtemps.</li>
        <li>Maintenir une cuisine propre : plans de travail, ustensiles, réfrigérateur...</li>
        <li>Utiliser des aliments frais et sains.</li>
        <li>Utiliser de l'eau saine.</li>
      </ul>
    </p>
</div>
