<div class="container">
  <% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @order_items.size == 0 %>

    <div class="container text-center">
      <p>
        Vous n'avez aucune popote dans votre panier <%= link_to "Retour", root_path, class:"btn btn-primary btn-lg" %>
      </p>
    </div>

  <% else %>

    <div class="container">
      &nbsp
      <p>
        <%= link_to "Une autre popote ?", cooks_path, class: 'btn btn-popote-bis btn-lg' %>
      </p>
    </div>

    <% @order_items.each do |order_item| %>
      <%= render 'carts/cart_row', dish: order_item.dish, order_item: order_item, show_total: true %>
    <% end %>

  <% end %>
</div>
