<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <p>
          SOUS-TOTAL = <%= number_to_currency(cart.subtotal, locale: :fr)%>
        </p>
        <p>
          <%= link_to "Valider", new_order_path, method: :get, class: "btn btn-popote btn-lg" %>
        </p>
    </div>
  </div>
</div>
