<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <p>
          Montant à payer <span class="label label-warning"><%= number_to_currency(cart.total_amount, locale: :fr)%></span>
        </p>
        <hr />
        <p>
          <%= link_to "Valider", new_order_path, class: "btn btn-popote btn-lg" %>
        </p>
    </div>
  </div>
</div>
