<span id="date" class="finalDate-<%=dish.id%> label label-primary"></span>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function () {

      $('.finalDate-<%=dish.id%>').countdown("<%= dish.exp_date %>")
      .on('update.countdown', function(event) {
        var format = '%H hr %M min %S';
        if(event.offset.totalDays > 0) {
          format = '%-d jour%!d ' + format;
        }
        if(event.offset.weeks > 0) {
          format = '%-w semaine%!w ' + format;
        }
        $(this).html(event.strftime(format));
      })
      .on('finish.countdown', function(event) {
        $(this).html('Indisponible')
          .parent().addClass('disabled');
      });

    });
  </script>
<% end %>
