<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Mettre à jour ma popote</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
