<div class="container text-left">
  <ul>
    <% @dishes.each do |dish| %>
    <li>
      <%= link_to dish.name, dish_path(dish) %>
    </li>
    <% end %>
  </ul>
</div>

<p>
  <%= link_to "Revenir à l'accueil", root_path, class: "btn btn-primary" %>
</p>
