<h1 class text-center><%= @dish.name%></h1>

<h2 class="text-center">
 Spécialité : <%= @dish.speciality%>
</h2>

<p class="text-center">
  <%= link_to "Revenir à la liste des plats", dishes_path %>
</p>
