.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */

.btn-popote {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FF642E;
  transition: background 0.3s ease;
}
.btn-popote:hover{
  opacity: 1;
  background: #f2542d;
  text-decoration: none;
  color: white !important;
}

.btn-popote-bis {
  color: #FF642E !important;
  border: 1px solid #FF642E;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-popote-bis:hover {
  opacity: 1;
  text-decoration: none;
  color: #f2542d !important;
}
