.cook_card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  background-color: $blue;
  margin-top: 10px;
  position: relative;
}
.cook_card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.cook_card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  line-height: 20px;
}
.cook_card-description {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.cook_card-description h2 {
  font-size: 24px;
}
.cook_card-description p {
  font-size: 14px;
  }
.cook_card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.cook_card-link:hover{
  opacity: 0.1;
}
