.dish {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.dish-body {
  flex: 1 1 auto;
}
.dish-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}

.dish-body h5{
  font-weight: bold;
  color: #FF642E;
}

.dish-body p {
  font-weight: lighter;
  color: #999999;
  line-height: 28px;
  margin-bottom: 0;
}

.dish-body a {
  color: #999999;
}

.dish-body a:hover{
  color: #FF642E;
  text-decoration: none;
}

/* dish image */
.dish-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 200px;
}

/* Upvote design */
.dish-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.dish-count {
  margin: 2px 0 0;
}
.dish-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.dish-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.dish-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #999999;
}
.dish-controls a:hover {
  color: #FF642E !important;
}
.dish-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.dish:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.dish-upvote:hover {
  cursor: pointer;
}
.dish:hover .dish-upvote { transform: scale(1.2) }
.dish:hover .dish-controls-hidden a { color: #E6E6E6 }
.dish-upvote:hover .dish-arrow { border-bottom: 9px solid #5898f1 }


