// Place all the styles related to the Cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cook-description {
  margin-top: 10px;
  color: #999999;
 }

.cook-description h2 {
  color: black;
 }

.cook-user {
  background-size: cover !important;
  background-color: #f7f7fa;
 }

 .cook-identity {
   color: #5898f1;
}
