<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p>Vous avez demandé à changer votre mot de passe. Faites-le en cliquant le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-success" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Si nous n'avez pas effectué cette demande, merci d'ignorer cet email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué le lien ci-dessus et créé un nouveau.</p>
